@font-face {
    font-family: 'ss-font';
    src: url('silversouthserif-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'ss-font', serif;
    font-weight:normal;
    font-style:normal;
    color: black;
    font-size: 150px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px
}

#main {
    margin:0 auto;
    text-align: center;
    max-width: 1300px;
}

#leftpane, #contact {
    width: 25%;
    position: relative;
    top: 15px;
}

#leftpane {
    position: relative;
    float: left;
    left: 10%;
}

#aboutme {
    height: 262.5px;
}

#contact {
    float: right;
    height: 550px;
    position: relative;
    right: 10%;
}

#links {
    height: 262.5px;
    position: relative;
    top: 25px;
}

#aboutme, #contact, #links, #projects {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

#img{
    text-align: center;
    display: inline-block;
}

#prof{
    display:inline-block;
    height: 550;
    transform: rotateZ(2deg);
    position: relative;
    animation: moveup ease 4.1s 1;
    position: relative;
    top: 10px;
}

#title{
    text-align: center;
    animation: fadein 2s;
}

#title1{
    display:inline-block;
    margin: 0 auto;
    animation: moveright 2s;
    position: relative;
    right: 5px;
}

#title2{
    display:inline-block;
    margin: 0 auto;
    animation: moveleft 2s;
    position: relative;
    left: 5px;
}

#title::after {
    content: '';
    animation: 3.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s 1 borderCenter;
    display: block;
    margin: auto;
    height: 2px;
    width: 0%;
    background: transparent;
  }

#projects{
    position: relative;
    top: 40px;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

#dropline, #lines {
    text-align: center;
    position: absolute;
    height: 100%;
}

#dropline {
    left: 50%;
    z-index: -1;
}

#lines {
    left: 25%;
    width:50%;
    z-index: 1;
}

#lines svg {
    width: 100%;
    height: 100%;
}

#lines circle {
    stroke: black;
    fill-opacity: 0;
    stroke-width: 2px;
    animation: moveup ease 4.1s 1;
}

#lines circle:hover{
    stroke-width: 5px;
}

#lines path {
    stroke: black;
    stroke-width: 2;
    fill: transparent;
    stroke-dasharray: 560;
    stroke-dashoffset: 560;
    stroke-linejoin: round;
}

.animatelinemove {
    animation: linemove 3s;
}


#dropline svg {
    position: relative;
    height: 100%;
    width: 10px;
    stroke-dashoffset: -150%;
    stroke-dasharray: 150%;
    animation: linedown 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.6s 1;
}

#dropline line{
    stroke: black;
    stroke-width: 4;
    stroke-linecap: round;
}

  @keyframes linedown {
      0%{
          stroke-dashoffset: 150%;
      }

      45%{
        stroke-dashoffset: 0%;
      }

      100%{
          stroke-dashoffset: -150%;
      }
  }

  @keyframes borderCenter {
      0% {
        width: 100%;
      }
      50% {
          width: 0%;
          background: black;
      }
  }

  @keyframes fadein {
      0% {
          opacity: 0;
      }
      25% {
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }

  @keyframes moveright {
      0%{
        position: relative;
        right: 20px;
      }
      100%{
        position: relative;
        right: 5px;
      }
  }

  @keyframes moveleft {
    0%{
      position: relative;
      left: 20px;
    }
    100%{
      position: relative;
      left: 5px;
    }
}

    @keyframes moveup {
        0%{
          opacity: 0;
        }

        66% {
          opacity: 0;
          position: relative;
          top: 25px;
        }

        75% {
            opacity: 1;
        }

        100%{
          position: relative;
          top: 10px;
        }
    }

    @keyframes linemove {
        0% {
            stroke-dashoffset: 560;
        }
        100% {
            stroke-dashoffset: -560;
        }
    }

}

